*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: black;
  color: white;

}

.links{
  color: #f3f1f1;
  text-decoration: none;
  position: relative;
  transition: ease-in .3s;
  font-size: 16px;

}
.blog-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  gap: 15px;

}
.blog-container .blog{
 
  margin: auto;

  margin-top: 55px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in .2s;
  color: white;
  background-color: rgb(5, 5, 5);
}
.blog-container .blog:hover{
transform: translateY(-5%);
}

.input-box{
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;

}
.input-box input{
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 10px;
  

}








